<form id="identification-form" class="form-horizontal">
    <label class="form-title">
        Identifiez-vous
    </label>

    <div id="firstname" class="form-group">
        <label class="col-sm-3 control-label" for="firstname_input">Prénom</label>
        <div class="col-sm-9">
          {{input id="firstname_input" class="form-control" type="text" placeholder="Benjamin" autocomplete="on"}}
        </div>
    </div>

    <div id="lastname" class="form-group">
        <label class="col-sm-3 control-label" for="lastname_input">Nom</label>
        <div class="col-sm-9">
          {{input id="lastname_input" class="form-control" type="text" placeholder="Marteau" autocomplete="on"}}
        </div>
    </div>

    <div id="email" class="form-group">
        <label class="col-sm-3 control-label" for="email_input">Email</label>
        <div class="col-sm-9">
          {{input id="email_input" class="form-control" type="email" placeholder="benjamin.marteau@wanadoo.fr" autocomplete="on"}}
        </div>
    </div>

    <div class="identification-form-actions pull-right">
        <button {{action "identify"}} class="button button-primary">Valider</button>
    </div>
</form>
