.assessment-results {
}

/*
* Title
*/
.assessment-results-title {
  width: 240px;
  height: 48px;
  font-family: 'Lato';
  font-size: 40px;
  font-weight: 900;
  color: var(--pix-blue);
  margin-bottom: 26px;
}


/*
* Link 'back to test list'
*/
.assessment-results-link {
  display: flex;
  flex-direction: row-reverse;
}
  
.assessment-results-link-home {
  width: 275px;
  height: 46px;
  border-radius: 23px;
  background-color: var(--pix-blue);
  border: none;
}

.assessment-results-back {
  width: 277px;
  height: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600; /* semibold */
  text-align: center;
  font-family: 'Open Sans';
  color: #ffffff;
}
