<div class='app-header'>
  
  {{corner-ribbon}}  
  
  <div class='app-header-container'>
    <div class='app-header-container-marianne'>
      <div class='app-header-marianne'>
        <img src="{{rootURL}}images/logo-de-la-republique-francaise.svg">
      </div>
    </div>
    <div class='app-header-container-logo'>
      <div class='app-header-logo'>
        <img src="{{rootURL}}images/pix-logo.svg">
      </div>
    </div>
  </div>
</div>
