{{#if session.isAuthenticated }}
  <nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="{{rootURL}}images/pix-logo.png" alt="Logo PIX">
            </div>
        </div>
          <div class="profile nav navbar-nav navbar-right">
              <p class="navbar-text">
                  <div role="button" style="display:inline-block;width:auto">
                    Bonjour {{sessionAccount.account.firstName}}
                  </div>
                  <a href="#" style="display:inline-block;width:auto">&#x23FB;</a>

              </p>
          </div>
    </div>
  </nav>
{{/if}}
