<p class="certification-error-page__text">
  Un code d'accès va vous être communiqué par le responsable de la session.
</p>
<div class="signin-form__form-field">
  <label for="session-code">Code du test</label>
  {{input id="session-code" type="text" value=codeSession}}
</div>

{{#if displayErrorMessage}}
  <div class="signin-form__errors">Ce code n'existe pas ou n'est plus valide.</div>
{{/if}}


<p class="certification-error-page__text">
  En cliquant sur "Lancer le test" :
  J’accepte que mes données d’identité, le numéro de certification et les circonstances de la passation telles que
  renseignées par l’examinateur soient communiquées à Pix. Pix les utilisera lors de la délibération du jury, pour
  produire et archiver mes résultats et pour éditer mon certificat ;
  Si cette certification m’a été prescrite par une organisation, j’accepte que Pix lui communique mes résultats ;
  Je peux exercer mes droits d’accès auprès du CIL de Pix cil.pix@beta.gouv.fr
</p>

<div class="signin-form__form-field signin-form__form-field-button">
  <button type="submit" class="signin-form__submit_button" {{ action "submit" }}>Lancer le test
  </button>
</div>



