{{#unless isChallengePreviewMode}}
    <hr/>
  {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
  {{/if}}

  <div class="actions pull-right">
      <button class="button button-secondary skip-button" {{action "skip"}}>Passer2</button>
      <button class="button button-primary validate-button" {{action "validate"}}>Valider2</button>
  </div>
{{/unless}}
