<div class="area__name">{{competenceArea.value}}</div>

{{#each competenceArea.items as |competence|}}
  <div class="competence__name">{{competence.name}}</div>
  <div class="competence__level"></div>
{{/each}}
