<div class="first-page">

  <div class="first-page-hero">
    <div class="first-page-hero-box o-sudoku">
      <div class="o-sudoku__7">
        <div class="first-page-hero__main-value-prop">
          Développez vos compétences numériques
        </div>
        <div class="first-page-hero__sub-value-prop">
          PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement. 
        </div>
      </div>
    </div>
  </div>

  <div class="first-page-challenges">
    <div class="first-page-challenges__empty">&nbsp;</div>
    <div class="first-page-challenges__title">
      Découvrez nos épreuves et aidez-nous à les améliorer !
    </div>
  </div>

</div>


