<div class="first-page">
  <div class="first-page-box o-sudoku">
  <div class="o-sudoku__7">
    <div class="first-page__main-value-prop">
      Développez vos compétences numériques
    </div>
    <div class="first-page__sub-value-prop">
      PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement. 
    </div>
  </div>
  </div>
</div>

