<div class="first-page">

  <div class="first-page-hero">
    <div class="first-page-hero__box">
      <div class="first-page-hero__box-item">
        <div class="first-page-hero__main-value-prop">
          Développez vos compétences numériques
        </div>
        <div class="first-page-hero__sub-value-prop">
          PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement. 
        </div>
      </div>
    </div>
  </div>
</div>


