<form class="load-email__form" id="contact-form">

  <div class="load-email__form-item">
    <input class="load-email-enter" onchange={{action "updateEmail"}} placeholder="Saisissez votre email" type="email">
  </div>
  <div class="load-email__form-item">
    <button {{action "submition" allowedKeys="enter"}}  class="load-email-button" >Rejoindre la communauté</button>
  </div>
</form>
{{#if hasError}}
  <div class="follower-error-message">
    {{errorMessage}}
  </div>
{{/if}}
