    <div class="first-page-email__form">
  
      <div class="first-page-email__form-item">
        <input class="first-page-email-enter">
      </div>
      <div class="first-page-email__form-item">
        <div class="buttonContainer">
          <div class="dsButtonAnim"><span>Animate me</span></div>
        </div>
      </div>
    </div>
