<div class="navbar-header-links">
  <ul class="navbar-header-links__list">
    {{#each menu as |item|}}
      <li class="navbar-header-links__item">
        {{#link-to item.link class="navbar-header-links__link" classNameBindings="item.class"}}{{item.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

