<div class="navbar-header__container">

  <!-- Logo (left) -->
  <div class="navbar-header-logo">
    {{#link-to "index" class="navbar-header-logo__link"}}
      <img class="navbar-header-logo__image" src="{{rootURL}}images/pix-logo.svg">
      <span class="navbar-header-logo__beta">Béta</span>
    {{/link-to}}
  </div>

  <!-- Links (right) -->
  <div class="navbar-header-links">
    <ul class="navbar-header-links__list">
      <li class="navbar-header-links__item">
        {{#link-to 'project' class="navbar-header-links__link navbar-header-links__link--project"}}Projet{{/link-to}}
      </li>
    </ul>
  </div>

</div>
