<div class="password-reset-form">
  <div class="password-reset-form__pix-logo">
    {{pix-logo}}
  </div>

  <div class="password-reset-form__title">Mot de passe oublié ?</div>
  <div class="password-reset-form__text">Entrez votre adresse e-mail ci-dessous, et c'est repartix</div>
  <div class="password-reset-form__label">Adresse e-mail</div>
  {{#if _displayErrorMessage}}
    <div class="password-reset-form__error-message">une erreur est survenu</div>
  {{/if}}
  <div class="password-reset-form__input">
    {{input class="password-reset-form__email-input" id="pix-email" type="email" value=email}}
  </div>
  <div class="password-reset-form__button">
    <button class="password-reset-form__submit-button" {{action "sendToRoutePasswordResetDemand"}}>Envoyer</button>
  </div>
</div>