{{#link-to "index" class="pix-logo__link" title="lien vers la page d'accueil de Pix"}}
  <img class="pix-logo__image" src="{{rootURL}}images/pix-logo.svg" alt="Le site officiel de Pix, version bêta">
  <span class="pix-logo__beta">Bêta</span>
{{/link-to}}
