<div class="profile-panel__header">
  <div class="profile-header__title">
    Votre profil
  </div>
</div>
<div class="profile-panel__competence-areas">
  {{competence-areas-list competences=competences}}
</div>