{{#each rawProposals as |proposal index|}}
  <p class="challenge-proposal">
      <label for="proposal_{{index}}">
        {{input type="checkbox"}}
        {{proposal}}
      </label>
  </p>  
{{/each}}
