<div class="qrocm-solution-panel rounded-panel">
  <div class="rounded-panel__row ">

    <div style="border:1px solid red">
      <div>{{answer.value}}</div>
      <div>{{solution.value}}</div>
      <div>{{challenge.proposals}}</div>
    </div>

    

  </div>
</div>

