{{#each proposalsAsBlocks as |proposal|}}

  {{#if proposal.text}}
    <span>{{proposal.text}}</span>
  {{/if}}

  {{#if proposal.input}}
    {{input class="challenge-response__proposal-input"
            type="text"
            placeholder=proposal.placeholder
            value=(property-of answerValue proposal.input)
            key-press="changeAnswer"}}
  {{/if}}

  {{#if proposal.breakline}}
    <br>
  {{/if}}

{{/each}}
