<div class="scoring-panel">

  <div class="scoring-panel_trophy">
    <div>Le Trophée</div>
    <div>Niveau 2</div>
    <div>Beta</div>
  </div>

  <div class="scoring-panel_text">
    <div>{{assessment.course.name}}</div>
    <div>Félicitations</div>
    <div>Vous avez obtenu le niveau _ pour cette compétence et avez gagné _ pix</div>
    <div>*En version bêta, les pix et niveaux délivrés sont provisoires</div>
  </div>

</div>
