.board-page__header {
  background-color: $porcelain-grey;
  font-family: $font-lato;
  color: $charcoal-grey;

  @include device-is('tablet') {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: baseline;
  }
}

.board-page__header-organisation__text {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.board-page__header-organisation__name {
  font-size: 24px;
  letter-spacing: 0.4px;
}

.board-page__header-code {
  @include device-is('tablet') {
    width: 400px;
  }
}

.board-page__header-code__title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.board-page__header-code__text {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.board-page__header-code__comment {
  font-size: 15px;
  color: $jumbo-grey;
}

.board-page__body {
  display: flex;
  background: $alabaster-grey;
  justify-content: center;
  padding: 0 30px;
}

.board-page__body-profiles {
  width: 1190px;
}

.board-page__body-profiles__header {

  margin-bottom: 20px;

  @include device-is('tablet') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.board-page__body-profiles__header-title {
  font-family: $font-raleway;
  font-weight: $font-extra-bold;
  color: $pix-blue;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;

  @include device-is('tablet') {
    font-size: 40px;
  }
}

.board-page__body-table__header {

  display: none;

  @include device-is('tablet') {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: $porcelain-grey;
    margin-bottom: 10px;

    font-family: $font-lato;
    font-size: 12px;
    font-weight: $font-bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.board-page__body-table__body {
  background: $white;
  margin-bottom: 50px;
  height: 200px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $font-lato;
  font-size: 32px;
  font-weight: $font-light;
  letter-spacing: 0.7px;
  text-align: center;
}
