.certification-start-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-self: center;
  background-color: $alabaster-grey;
  color: $charcoal-grey;
  text-rendering: optimizeLegibility;
  flex-direction: column;
  align-items: center;
}

.certification-start-page__panel {
  @include device-is('desktop') {
    padding: 50px 70px 40px;
    text-align: center;
  }
}

.certification-start-page__title {
  height: 42px;
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
