.password-reset-page {
  background: url("/images/signup-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-reset-page__password-reset-form {
  padding: 0 10px;
  width: 100%;

  @include device-is('tablet') {
    max-width: 750px;
    margin:auto;
  }
}
