<div id="challenge-preview">
    <div class="container">


      {{challenge-item
          currentAnswer=model.answer
          challenge=model.challenge 
          assessment=model.assessment }}

    </div>
</div>
