<div class="certification-results">
  <div class="certification-results__certification-banner">
    {{certification-banner user=model}}
  </div>

  <div class="certification-results__content">
    coucou
  </div>
</div>