@charset "UTF-8";
/* globals */
/* html background */
/* hr */
/* border-color */
.alert {
  outline: none;
  border-radius: 0.3125em;
  padding: 9px;
  vertical-align: middle;
  margin-bottom: 11px;
  color: white;
  text-shadow: none; }

.alert-success {
  border: 1px solid #78C182;
  background-color: #78C182; }

.alert-danger {
  border: 1px solid #E14956;
  background-color: #E14956; }

.button {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid #78C182;
  padding: 12px 22px;
  text-align: center;
  background-color: #78C182;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55b162;
  box-shadow: 0 1px 1px -1px #909297;
  cursor: pointer;
  outline: none; }

.button-primary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid #78C182;
  padding: 12px 22px;
  text-align: center;
  background-color: #78C182;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #55b162;
  box-shadow: 0 1px 1px -1px #909297; }

.button-primary:hover,
.button-primary:focus {
  color: #fff;
  background-color: #67b972;
  border-color: #67b972;
  border-bottom-color: #4aa256;
  text-decoration: none; }

.button-secondary {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  outline: none;
  border-radius: 0.3125em;
  border: 1px solid #a5a7ab;
  padding: 12px 22px;
  text-align: center;
  background-color: #a5a7ab;
  background-image: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #8b8d92;
  box-shadow: 0 1px 1px -1px #909297; }

.button-secondary:hover,
.button-secondary:focus {
  color: #fff;
  background-color: #989a9e;
  border-color: #989a9e;
  border-bottom-color: #7e8086;
  text-decoration: none; }

/* 3rd-party */
.routable-modal--open {
  overflow: hidden; }

.routable-modal--backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #3e4149;
  opacity: 0.95; }

.routable-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0; }

.routable-modal--dialog {
  max-width: 600px;
  margin: 30px auto; }

.routable-modal--content {
  background: #fff; }

.routable-modal--header {
  display: inline-block;
  width: 100%; }

.routable-modal--title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem; }

button.routable-modal--close {
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 1.5rem;
  border: 0;
  color: #777;
  cursor: pointer;
  float: right; }

button.routable-modal--close:hover,
button.routable-modal--close:focus,
button.routable-modal--close:active {
  color: #000;
  outline: 0; }

/* components */
.rounded-panel {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  overflow: hidden; }

.rounded-panel__row {
  padding: 20px; }

.rounded-panel hr {
  margin-left: -20px;
  margin-right: -20px; }

.app-header {
  background-color: white; }

.app-header-container {
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 992px) {
    .app-header-container {
      justify-content: initial; } }

.app-header-container-marianne {
  display: none; }
  @media (min-width: 992px) {
    .app-header-container-marianne {
      position: relative;
      height: 120px;
      display: block;
      order: 0;
      margin-left: 130px; } }

.app-header-marianne {
  margin-top: 35px; }

.app-header-container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2; }
  @media (min-width: 992px) {
    .app-header-container-logo {
      margin-left: 433px;
      order: 0; } }

.app-header-logo {
  margin-top: 12px; }

@media (max-width: 992px) {
  .app-header-logo-svg {
    width: 130px;
    height: 80px; } }

.app-header-navbar {
  background-color: #fff; }

.navbar-header__brand {
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 15px; }

.app-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }

.app-footer__pix-logo {
  order: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

.app-footer__pix-logo-img {
  height: 80px; }

.app-footer__item-contact {
  order: 1;
  margin-bottom: 30px; }

.app-footer__item-marianne {
  order: 2;
  margin-bottom: 30px; }

.app-footer__logo-marianne-img {
  height: 60px; }

.app-footer__link-text {
  color: #3e4149;
  margin: 0 5px; }

@media (min-width: 992px) {
  .app-footer {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: 150px; }
  .app-footer__pix-logo {
    order: 0;
    margin: 0; }
  .app-footer__item-contact {
    order: 1;
    margin: 0; }
  .app-footer__item-marianne {
    order: 2;
    margin: 0; } }

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Hero
- Challenges
- Email
- Features
- Footer
*/
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-hero {
  background-image: url("/images/stock-photo2.jpg");
  background-size: cover;
  height: 580px;
  width: 100%; }

.first-page-hero__box {
  height: 100%;
  display: flex; }

.first-page-hero__box-item {
  margin-top: auto;
  margin-bottom: auto; }
  @media (min-width: 992px) {
    .first-page-hero__box-item {
      margin-top: auto;
      margin-bottom: 5%;
      margin-left: 160px; } }

.first-page-hero__main-value-prop {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 845px; }
  @media (min-width: 992px) {
    .first-page-hero__main-value-prop {
      font-size: 65px;
      font-weight: 900;
      color: #ffffff;
      margin-bottom: 24px;
      width: 830px; } }

.first-page-hero__sub-value-prop {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 567px; }
  @media (min-width: 992px) {
    .first-page-hero__sub-value-prop {
      font-size: 26px;
      font-weight: bold;
      color: #ffffff; } }

/* Challenges
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-challenges {
  background-color: #f2f3f4; }

/* XXX : issue raised, impossible to put a margin-top to title (single direction margin declaration) */
.first-page-challenges__empty {
  margin-bottom: 56px; }

.first-page-challenges__title {
  font-size: 36px;
  line-height: 0.8;
  text-align: center;
  color: #3d68ff;
  margin-bottom: 52px;
  margin-right: 15px;
  margin-left: 15px; }

.first-page-challenges__cards.container {
  max-width: 1180px; }

.first-page-challenges__cards .courses {
  list-style-type: none;
  padding: 30px 0; }

.first-page-challenges__cards .course-item .course {
  padding: 0; }
  .first-page-challenges__cards .course-item .course .course-picture {
    width: 100%;
    height: 170px;
    text-align: center;
    margin: 0 auto;
    display: block; }
  .first-page-challenges__cards .course-item .course .course-content {
    padding: 15px;
    height: 115px;
    overflow: hidden;
    text-align: center; }
    .first-page-challenges__cards .course-item .course .course-content .course-name {
      color: #446eff; }
  .first-page-challenges__cards .course-item .course .course-number-of-challenges {
    text-align: center;
    padding: 15px;
    padding-bottom: 5px; }
  .first-page-challenges__cards .course-item .course .course-actions {
    text-align: center;
    padding: 15px;
    padding-bottom: 30px; }
    .first-page-challenges__cards .course-item .course .course-actions > .start-button {
      background-color: #446eff;
      border-color: #446eff;
      border-bottom: 1px solid #2861CF;
      text-transform: none; }
      .first-page-challenges__cards .course-item .course .course-actions > .start-button:hover, .first-page-challenges__cards .course-item .course .course-actions > .start-button:active {
        background-color: #FDBD2C;
        border-color: #FDBD2C;
        border-bottom: 1px solid #CF9C24; }

/* Email
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-email {
  height: 385px;
  background-color: #446eff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .first-page-email {
      height: 270px; } }

.first-page-email__title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 992px) {
    .first-page-email__title {
      font-size: 34px;
      margin-left: 0px;
      margin-right: 0px; } }

/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.first-page-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px; }
  @media (min-width: 992px) {
    .first-page-features {
      padding-top: 75px;
      flex-direction: row; } }

.first-page-feature {
  height: 260px;
  width: 200px; }
  @media (min-width: 992px) {
    .first-page-feature {
      height: 294px;
      margin-left: 35px; }
      .first-page-feature:first-child {
        margin-left: 0px; } }

.first-page-feature__icon-container {
  display: flex;
  justify-content: center;
  height: 107px; }

.first-page-feature__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-top: 20px;
  color: #3e4149; }
  @media (min-width: 992px) {
    .first-page-feature__title:first-child {
      margin-left: 0px; } }

.first-page-feature__text {
  font-size: 15px;
  margin-top: 12px;
  color: #3e4149;
  text-align: center; }

.first-page-about {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background: #ffffff; }

.first-page-about a {
  display: block;
  width: 201px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
  border: none;
  background-color: #ffbe00;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #3e4149;
  font-family: "Lato", Arial, sans-serif;
  text-decoration: none;
  cursor: pointer; }

.corner-ribbon-wrapper {
  position: absolute;
  top: 0;
  right: 0; }

.corner-ribbon {
  position: relative;
  width: 172px;
  height: 150px;
  overflow: hidden; }

.ribbon {
  background-color: #FDBD2C;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -7px;
  top: 36px;
  transform: rotate(45deg); }

.ribbon a {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 1px 0;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  min-width: 237px;
  cursor: none;
  pointer-events: none; }

.challenge-statement {
  /* XXX required to let "help tooltip" displaying well even if instruction section is short (1 line) */
  overflow: visible; }

.challenge-statement__instruction-section {
  font-size: 14px; }
  @media (min-width: 700px) {
    .challenge-statement__instruction-section {
      font-size: 20px; } }

.challenge-statement__illustration-section {
  display: block;
  text-align: center;
  border-top: 1px solid #D0D1D5;
  box-sizing: content-box; }

.challenge-statement__illustration {
  max-width: 100%; }

.challenge-statement__attachments-section {
  background-color: #ececec;
  text-align: center;
  padding: 20px; }

.challenge-statement__text {
  font-size: 16px; }

.challenge-statement__help-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  display: inline-block;
  background: #446eff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle; }

.challenge-statement__help-icon:after {
  content: "i";
  position: absolute;
  font-size: 12px;
  font-weight: 900;
  left: 8px; }

.challenge-statement__help-tooltip {
  visibility: hidden;
  color: #ccc;
  text-align: justify;
  border-radius: 6px;
  padding: 15px;
  width: 430px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #d8d8d8;
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -400px;
  bottom: 30px; }

/* XXX tooltip bottom arrow */
.challenge-statement__help-tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 400px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #d8d8d8;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent; }

.challenge-statement__help-tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 400px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent; }

/* XXX the magic trick to manage tooltip appearing at icon mouse hover */
.challenge-statement__help-icon:hover .challenge-statement__help-tooltip {
  visibility: visible; }

.challenge-statement__help-text {
  font-size: 14px;
  color: #3e4149; }

.challenge-statement__file-options {
  margin-left: 0;
  padding: 10px 0; }

.challenge-statement__file-option {
  list-style-type: none;
  display: inline-block;
  padding: 0 15px; }

.challenge-statement__file-option-label {
  font-size: 16px; }

.challenge-statement__action {
  display: flex;
  align-items: center;
  justify-content: center; }

.challenge-statement__action-link {
  width: 156px;
  height: 46px;
  border-radius: 23px;
  background-color: #446eff;
  color: #ffffff;
  cursor: pointer;
  text-align: center; }

.challenge-statement__action-link:hover {
  color: #ffffff; }

.challenge-statement__action-label {
  width: 76px;
  line-height: 46px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase; }

.challenge-response {
  font-size: 17px; }

.challenge-response__proposal-label {
  font-weight: 400;
  width: 100%; }

.challenge-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px; }

.challenge-actions__action {
  cursor: pointer;
  text-align: center; }

.challenge-actions__action-skip {
  color: #3e4149;
  margin-right: 15px; }

.challenge-actions__action-skip:hover {
  color: #3e4149; }

.challenge-actions__action-skip-text {
  width: 55px;
  height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600; }

.challenge-actions__action-validate {
  width: 130px;
  height: 46px;
  border-radius: 23px;
  background-color: #12caa1;
  color: #ffffff; }

.challenge-actions__action-validate:hover {
  color: #ffffff; }

.challenge-actions__action-validate-text {
  width: 76px;
  line-height: 46px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase; }

.challenge-stay__container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #ffbe00;
  border-radius: 5px;
  margin-bottom: 11px;
  padding-left: 20px; }

.challenge-stay__icon {
  display: flex; }

.challenge-stay__text {
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold; }
  @media (min-width: 700px) {
    .challenge-stay__text {
      font-size: 16px; } }

.feedback-panel {
  background-color: #dedede;
  color: #3e4149;
  padding: 20px 40px;
  font-size: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

/*
 * "Link" view
 * --------------------------------------------------------------------------
 */
.feedback-panel__open-link {
  cursor: pointer;
  color: inherit;
  font-weight: 600; }

.feedback-panel__open-link:hover,
.feedback-panel__open-link:focus,
.feedback-panel__open-link:active {
  color: #3e4149; }

/*
 * "Form" view
 * --------------------------------------------------------------------------
 */
.feedback-panel__form-title {
  font-size: 15px;
  font-weight: 900;
  margin: 0 0 20px; }

.feedback-panel__form-description {
  margin-bottom: 20px; }

.feedback-panel__form-description p {
  margin: 0; }

.feedback-panel__form-wrapper {
  display: flex; }

.feedback-panel__form {
  width: 100%; }

.feedback-panel__group {
  margin-bottom: 10px; }

.feedback-panel__field {
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px; }

.feedback-panel__field--content {
  resize: none; }

.feedback-panel__button {
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #dedede;
  border: 1px solid #7d808b;
  margin-right: 10px; }

.feedback-panel__button--send {
  background-color: #7d808b;
  color: white; }

/*
 * "Mercix" view
 * --------------------------------------------------------------------------
 */
.feedback-panel__view--mercix {
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  color: #3e4149;
  padding-top: 20px;
  padding-bottom: 10px; }

/*
 * RWD
 * --------------------------------------------------------------------------
 */
@media (min-width: 992px) {
  .feedback-panel__form {
    width: 50%; } }

/* Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.load-email__form {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 992px) {
    .load-email__form {
      flex-direction: row;
      justify-content: center; } }

/* Input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.load-email-enter {
  height: 46px;
  width: 200px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  font-size: 18px;
  color: #686868; }
  @media (min-width: 992px) {
    .load-email-enter {
      padding-left: 18px;
      width: 600px;
      font-size: 20px;
      margin-bottom: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; } }

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.load-email-button {
  position: relative;
  border: 1px solid #c3d0ff;
  border-radius: 5px;
  min-width: 200px;
  padding: 11px 0;
  background-color: #c3d0ff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #3d68ff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
  box-shadow: 1px 1px 4px 1px transparent;
  transition: box-shadow 300ms ease-in-out; }
  @media (min-width: 992px) {
    .load-email-button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; } }

.load-email-button:hover {
  box-shadow: 1px 1px 6px 1px #ccc; }

.load-email-button:before {
  content: '\00a0\00a0\00a0\00a0 Merci';
  position: absolute;
  z-index: 500;
  transform: rotateX(180deg);
  color: #fff;
  letter-spacing: 1px;
  opacity: 0;
  transition: none; }

.load-email-button-is-error:before {
  content: '\00a0\00a0\00a0\00a0 Erreur'; }

.load-email-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  opacity: 0;
  height: 100%;
  overflow: hidden;
  background-color: #0EBEFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: width 10ms 600ms ease-in-out, background-color 300ms ease-in, opacity 250ms 300ms ease-in; }

.load-email-button-is-active {
  transform: rotateX(180deg);
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px transparent !important;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in; }

.load-email-button-is-active:after {
  opacity: 1;
  background-color: green;
  width: 100%;
  transition: width 1s 0.5s ease-in-out, background-color 300ms 300ms ease-in, opacity 250ms 300ms ease-in; }

.load-email-button-is-active:before {
  opacity: 1;
  transition: opacity 250ms 1.5s ease-in; }

.load-email-button-is-error {
  transform: rotateX(180deg);
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px transparent !important;
  transition: transform 300ms ease-in-out, background-color 300ms ease-in; }

.load-email-button-is-error:after {
  opacity: 1;
  background-color: red;
  width: 100%;
  transition: width 1s 0.5s ease-in-out, background-color 300ms 300ms ease-in, opacity 250ms 300ms ease-in; }

.load-email-button-is-error:before {
  opacity: 1;
  transition: opacity 250ms 1.5s ease-in; }

.course-banner {
  background-color: #446eff;
  color: white;
  margin-bottom: 30px; }

.course-banner-wrapper {
  display: flex;
  align-items: center;
  min-height: 100px; }

.course-banner-name {
  font-size: 28px; }

.course-banner-home-link {
  font-size: 16px;
  margin-left: auto;
  text-align: right;
  /* stand above BETA ribbon */
  z-index: 999;
  color: white; }

.course-banner-home-link:hover {
  color: white; }

.challenge-stay__container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #ffbe00;
  border-radius: 5px;
  margin-bottom: 11px;
  padding-left: 20px; }

.challenge-stay__icon {
  display: flex; }

.challenge-stay__text {
  padding-left: 15px;
  font-size: 12px;
  font-weight: bold; }
  @media (min-width: 700px) {
    .challenge-stay__text {
      font-size: 16px; } }

.modal-mobile {
  /* XXX : Forces bootstrap's default by including bootstrap props into .modal-mobile  container */ }
  .modal-mobile .modal-header {
    border: none;
    text-align: center;
    margin-top: 29px; }
  .modal-mobile .modal-title {
    line-height: 0; }
  .modal-mobile .modal-body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #3e4149; }
  .modal-mobile .modal-footer {
    border: none; }
  .modal-mobile .modal.fade.in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s ease; }

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.modal-mobile__confirm-button {
  background-color: #446eff;
  border-color: #446eff;
  border-bottom: 1px solid #2861CF;
  text-transform: none;
  height: 46px;
  border-radius: 23px;
  text-transform: uppercase;
  padding-right: 40px;
  padding-left: 40px; }
  .modal-mobile__confirm-button:hover, .modal-mobile__confirm-button:active {
    background-color: #FDBD2C;
    border-color: #FDBD2C;
    border-bottom: 1px solid #CF9C24; }

.modal-mobile__dismiss-link {
  cursor: pointer;
  font-family: "Lato", Arial, sans-serif;
  color: #3e4149;
  font-weight: bold;
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 14px;
  text-decoration: underline; }

.timeout-jauge-wrapper {
  padding-top: 0; }

.timeout-jauge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  font-style: normal; }

.timeout-jauge-container {
  position: relative;
  z-index: 0;
  background-color: #d8d8d8;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  overflow: hidden; }

.timeout-jauge-progress {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #f2f3f4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%; }

.timeout-jauge-clock {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.challenge-item-warning {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.challenge-item-warning__instruction-primary {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  margin-top: 22px;
  color: #3e4149; }

.challenge-item-warning__intruction-secondary {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  margin-top: 9px;
  margin-bottom: 50px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #3e4149; }

.challenge-item-warning__instruction-time {
  color: #3d68ff;
  text-align: center; }

.challenge-item-warning__allocated-time {
  text-align: center;
  color: #3e4149;
  font-size: 27.8px;
  font-family: "Lato", Arial, sans-serif; }

.challenge__allocated-time__jauge {
  width: 139px;
  height: 50px;
  border-radius: 7px;
  background-color: #d8d8d8;
  margin: 0px auto;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.challenge__allocated-time__value {
  width: 69px; }

.challenge-item-warning__action {
  text-align: center; }

.challenge-item-warning__confirm-btn {
  width: 234px;
  height: 46px;
  border-radius: 5px;
  margin-top: 22px;
  border: none;
  background-color: #12caa1;
  color: #ffffff;
  text-transform: uppercase; }

.app-menu-wrapper {
  background: white;
  position: absolute; }
  @media (min-width: 992px) {
    .app-menu-wrapper {
      margin-left: 257px;
      position: static; } }

.app-menu {
  display: flex;
  flex-direction: column;
  order: 1; }
  @media (min-width: 992px) {
    .app-menu {
      display: flex;
      flex-direction: row;
      order: 1; } }

.app-menu__item {
  display: none; }
  @media (min-width: 992px) {
    .app-menu__item {
      margin-right: 28px;
      display: block; } }

.app-menu__item a {
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #3e4149;
  font-family: "Lato", Arial, sans-serif;
  display: block;
  padding: 10px 0px;
  border: 1px solid #3e4149; }
  @media (min-width: 992px) {
    .app-menu__item a {
      display: inline;
      border: none; } }

/* Whole assessments container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results {
  /* Forces bootstrap's default by including bootstrap props into .assessment-results container */
  /* XXX : See https://github.com/sgmap/pix/issues/211 */ }
  .assessment-results .tooltip-inner {
    padding-top: 13px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: #e6e6e6;
    color: #3e4149;
    font-family: "Lato", Arial, sans-serif;
    font-size: 14px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #ffffff; }
  .assessment-results .tooltip.top .tooltip-arrow {
    border-top-color: #e6e6e6; }
  .assessment-results .tooltip.in {
    opacity: 1;
    transition: opacity 1s ease; }
  .assessment-results .tooltip.top .tooltip-arrow {
    bottom: -4px;
    left: 50%;
    margin-left: -13px;
    border-width: 10px 13px 0; }
  .assessment-results [data-lines="2"] + div .tooltip-inner {
    padding-top: 3px; }

/* Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results-title {
  min-width: 240px;
  height: 48px;
  font-size: 40px;
  font-weight: 900;
  color: #446eff;
  margin-bottom: 26px; }

/* List of results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results-list {
  display: flex;
  flex-direction: column; }

.assessment-results-list-item {
  width: auto;
  height: 80px;
  border-radius: 5px;
  border-color: #f2f3f4;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 10px; }
  .assessment-results-list-item:hover {
    box-shadow: none;
    border: solid 2px #446eff;
    transition: border-color 1s ease; }
  .assessment-results-list-item:nth-last-child(1) {
    margin-bottom: 20px; }

.assessment-results-result {
  display: flex;
  height: 80px;
  align-items: center; }

.assessment-results-result-index {
  width: 11px;
  height: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #3e4149;
  margin-left: 15px; }

.assessment-results-result-line {
  width: 2px;
  height: 61px;
  border: solid 1.5px #d5d5d5;
  margin-left: 15px; }

.assessment-results-result-instruction {
  font-size: 18px;
  margin-left: 14px;
  height: 30px;
  overflow: hidden; }

.assessment-results-result-img {
  margin-left: 14px; }

.assessment-results-result-correction {
  width: 73px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #446eff;
  margin-right: 23px;
  margin-left: auto;
  height: 21px;
  /* XXX : should be aligned with flexbox */ }

.assessment-results-result-correction-button {
  border: none;
  outline: 0;
  background-color: transparent; }

/* Button 'go back'
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.assessment-results-link {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px; }

.assessment-results-link-home {
  width: 275px;
  height: 46px;
  border-radius: 23px;
  background-color: #446eff;
  border: none; }

.assessment-results-back {
  width: 277px;
  height: 22px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff; }

.comparison-window {
  padding: 0 15px; }

.comparison-window--dialog {
  max-width: 900px;
  margin-top: 40px; }

.comparison-window--content,
.comparison-window--body {
  border-radius: 5px; }

.comparison-window--body {
  background-color: #f2f3f4;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0; }

.comparison-window__instruction {
  margin: 0 0 15px;
  font-size: 16px; }

.comparison-window__proposals {
  margin: 0 0 15px;
  font-size: 16px; }

.comparison-window-oracle[data-goodness='good'] {
  color: #13c9a0;
  font-weight: 900; }

.comparison-window-oracle[data-goodness='bad'][data-checked='yes'] {
  text-decoration: line-through; }

/*Modal Close button*/
.routable-modal--close-button {
  position: absolute;
  top: -25px;
  right: -10px;
  /*XXX : right alignment, found no other way to achieve it;*/
  margin-right: 0;
  height: 17px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: #ffffff; }

/*Modal Header*/
.comparison-window--header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1070px;
  min-height: 70px;
  border-radius: 5px; }

.assessment-results-result-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px; }

.assessment-results-result-text {
  display: flex;
  margin-left: 9px;
  max-width: 618.5px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  color: #3e4149; }

.assessment-results-result-light-line {
  width: 1px;
  height: 50px;
  border: solid 1.5px #d5d5d5;
  margin-left: 15px; }

/*Close button*/
.close-button-container {
  display: flex; }

@media (min-width: 992px) {
  .comparison-window {
    padding: 0; }
  .comparison-window--dialog {
    margin-top: 60px; }
  .comparison-window--body {
    padding: 20px 40px 10px; } }

/* views */
#home .courses {
  list-style-type: none;
  padding: 30px 0; }

#home .course-item .course {
  padding: 0; }

#home .course-item .course .course-picture {
  width: 100%;
  height: 170px;
  text-align: center;
  margin: 0 auto;
  display: block; }

#home .course-item .course .course-content {
  padding: 15px;
  height: 115px;
  overflow: hidden;
  text-align: center; }

#home .course-item .course .course-content .course-name {
  color: #446eff; }

#home .course-item .course .course-number-of-challenges {
  text-align: center;
  padding: 15px;
  padding-bottom: 5px; }

#home .course-item .course .course-actions {
  text-align: center;
  padding: 15px;
  padding-bottom: 30px; }

#home .course-item .course .course-actions > .start-button {
  background-color: #446eff;
  border-color: #446eff;
  border-bottom: 1px solid #2861CF;
  text-transform: none; }

#home .course-item .course .course-actions > .start-button:hover,
#home .course-item .course .course-actions > .start-button:active {
  background-color: #FDBD2C;
  border-color: #FDBD2C;
  border-bottom: 1px solid #CF9C24; }

#home-loading .loader-container {
  width: 1em;
  height: 3em;
  margin: 0 auto;
  padding-top: 180px; }

#home-loading .ball-zig-zag > div:nth-child(2) {
  background-color: #446eff; }

#home-loading .ball-zig-zag > div:nth-child(1) {
  background-color: #FDBD2C; }

#index .cover {
  background-image: url("/images/stock-photo-113728127.jpg");
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: ' '; }

#index .cover::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  bottom: 10%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

#index .presentation {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFF;
  font-smoothing: antialiased;
  text-shadow: 0px 0px 1px rgba(48, 50, 58, 0.6), 0px 1px 1px rgba(48, 50, 58, 0.6);
  margin: 0.3em 0; }

#index .presentation h1 {
  font-weight: 600;
  font-size: 40px; }

#index .presentation h2 {
  font-weight: 400;
  font-size: 21px;
  color: #fff; }

.project-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-self: center;
  background-color: #fafafa;
  color: #3e4149;
  text-rendering: optimizeLegibility; }

/* page global style */
.project-page h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 0; }

.project-page p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px; }

.project-page li {
  color: #3d68ff; }

.project-page hr {
  width: 50px;
  height: 4px;
  background-color: #3d68ff;
  margin: 0 auto 20px;
  border-radius: 2px;
  border: none; }

.project-page .rounded-panel {
  margin-left: 10px;
  margin-right: 10px; }

.project-page__panel {
  margin-bottom: 50px;
  padding: 20px; }

/* Specific styles */
.project-page__header {
  padding: 20px 40px 20px;
  margin-bottom: 0; }

.project-page__header-text {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  line-height: 28px;
  margin-top: 0; }

p.project-page__populations-headline {
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
  line-height: 26px;
  font-size: 22px; }

.project-page__user-types {
  list-style-type: none;
  padding: 0;
  margin: 0 0 22px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.project-page__user-type {
  margin-bottom: 15px; }

.project-page__user-type-image {
  width: 100px;
  display: block;
  margin: 0 auto 10px; }

.project-page__user-type-name {
  display: block;
  text-align: center;
  width: 140px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 16px;
  font-size: 14px; }

.project-page__value ul {
  padding: 0 20px;
  margin-bottom: 20px; }

.project-page__value li {
  font-size: 20px; }

.project-page__value-header-image {
  width: 120px;
  display: block;
  margin: 0 auto 20px; }

.project-page__value-header-name {
  color: #3d68ff; }

.project-page__presentation {
  background-color: #3d68ff;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300; }

.project-page__presentation-container {
  margin-bottom: 0; }

hr.project-page__presentation-header-line {
  background-color: #ffffff; }

@media (min-width: 992px) {
  .project-page .rounded-panel {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; }
  .project-page__panel {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 70px 40px; }
  .project-page__header {
    padding: 50px 40px 40px; }
  .project-page__header-text {
    font-size: 40px;
    line-height: 50px; } }

#course-preview strong {
  color: #446eff;
  font-weight: 600; }

/* XXX : every above is to be refactored, don't put any CSS properties right here */
@media (min-width: 1200px) {
  .container {
    max-width: 900px; } }

body {
  font-family: "Lato", Arial, sans-serif;
  background-color: #f2f3f4; }

.body {
  padding-top: 0; }

.component-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container .title {
  display: block;
  text-rendering: optimizeLegibility;
  color: #484c58;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0; }
