<div id="assessment-challenge">

  {{course-banner course=model.assessment.course withHomeLink=true}}

  <div class="container">
    {{progress-bar progress=progress}}
    
    {{challenge-item 
        challenge=model.challenge 
        assessment=model.assessment 
        currentAnswer=model.answer 
        onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
