<div class="routable-modal--dialog">
    <div class="routable-modal--content">
        <div class="routable-modal--header">
            {{routable-modal-close-button class="routable-modal--close"}}
            <h4 class="routable-modal--title">Modal title</h4>
        </div>
        <div class="routable-modal--body">
            Content
            <div>answerid {{model.answer.id}}</div>
            <div>challengeid {{model.challenge.id}}</div>
            <div>solutionid {{model.solution.id}}</div>
        </div>
    </div>
</div>
