<div id="assessment-challenge">

  {{course-banner course=model.assessment.course withHomeLink=true}}

  <div class="container">
    {{progress-bar progress=progress}}
    {{component challengeItemType model.challenge model.assessment onValidated="saveAnswerAndNavigate"}}
  </div>
</div>
