<div class='assessment-results'>

  {{course-banner course=model.assessment.course}}

  <div class='container'>

            


        {{#link-to 'home' class='assessment-results-home-link' tagName='button'}}Revenir à la liste des tests{{/link-to}}
  </div>


</div>
