<div class='assessment-results'>

  {{course-banner course=model.assessment.course}}

  <div class='container'>

    <div class='assessment-results-title'>
      Vos résultats
    </div>    

    <div class='assessment-results-link'>
      {{#link-to 'home' class='assessment-results-link-home' tagName='button'}}
            <span class="assessment-results-back">Revenir à la liste des tests</span>
      {{/link-to}}  
    </div>

  </div>


</div>
