.challenge-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}

.challenge-actions__action {
  cursor: pointer;
  text-align: center;
}

.challenge-actions__action-skip {
  color: $charcoal-grey;
  margin-right: 15px;
}

.challenge-actions__action-skip:hover {
  color: $charcoal-grey;
}

.challenge-actions__action-skip-text {
  width: 55px;
  height: 19px;
  font-family: $font-lato;
  font-size: 16pt;
  font-weight: $font-semi-bold;
  color: $charcoal-grey;
  margin-right: 40px;
  letter-spacing: 0.5px;
  &:hover {
    text-decoration: underline;
    color: $pix-blue;
  }
}

.challenge-actions__action-validate {
  order: 1;
  width: 130px;
  height: 46px;
  border-radius: 23px;
  background-color: $jade;
  color: $white;
}

.challenge-actions__action-validate:hover {
  color: $white;
}

.challenge-actions__action-validate-text {
  width: 76px;
  line-height: 46px;
  font-family: $font-lato, sans-serif;
  font-size: 16px;
  font-weight: $font-heavy;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.picture-checkbox-proposal--qcm {
  position: absolute;
  left: -11px;
  top: 3px;
}

.challenge-actions__loader--validate {
  order: 1;
  width: 130px;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.challenge-actions__loader-spinner {
  border: 5px solid $gainsboro;
  border-top: 5px solid $jade;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}


.challenge-actions__loader-bar {
  background: url('/images/loader-challenge.gif');
  justify-content: center;
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
  margin: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

