.competence-area-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.area__name {
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
  line-height: 50px;
  color: $charcoal-grey;
  font-family: $font-raleway;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: $porcelain-grey;

  @include device-is('mobile') {
    padding-left: 30px;
    font-size: 14px;
  }
}

.competence-list {
  background: $white;
  width: 100%;
  padding: 10px 30px 10px;
  margin-bottom: 10px;

  @include device-is('tablet') {
    padding: 22px 100px 30px;
  }
}

.competence {
  font-family: $font-lato;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: $charcoal-grey;
  margin-bottom: 3px;
}


.competence__progression-bar {
  border-radius: 12px;
  width: 100%;
  height: 24px;
  //background-color: $porcelain-grey;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0.5)), linear-gradient(#f2f3f4, #f2f3f4);
  align-items: center;
}

/*-----Progression bar background-------*/

.competence_progression-bar_background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
}

/*--------Progression bar limit------------*/

.competence__progression-bar__level-limit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 24px;
  width: 62.5%;
  border-radius: 12px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(#f2f3f4, #f2f3f4);
  padding-right: 2px;
}

.competence__level-progression-bar__level-limit-bubble {
  width: 20px;
  border-radius: 20px;
  text-align: center;
  height: 20px;
  background-color: $white;
  color: $dusty-grey;
}

.competence__progression-bar__level-available-soon-text {
  font-family: $font-lato;
  font-size: 6px;

  @include device-is('tablet') {
    font-size: 14px;
  }
}

/*--------Progression bar max------------*/

.competence__level-progression-bar__level-limit-max-bubble {
  width: 20px;
  border-radius: 20px;
  text-align: center;
  height: 20px;
  background-color: $white;
  color: $dusty-grey;
}

/*------Progression bar jauge------*/

.competence__progression-bar__level {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  background-image: linear-gradient(to right, rgba(255, 190, 0, 0.0), #ff8800), linear-gradient(#ffbe00, #ffbe00);
  border-radius: 12px;
  height: 24px;

  position: relative;
  bottom: 24px;
}

.competence__progression-bar__level[data-level='0'] {
  width: 24px;
}

.competence__progression-bar__level[data-level='1'] {
  width: 12.5%;
}

.competence__progression-bar__level[data-level='2'] {
  width: 25%;
}

.competence__progression-bar__level[data-level='3'] {
  width: 37.5%;
}

.competence__progression-bar__level[data-level='4'] {
  width: 50%;
}

.competence__progression-bar__level[data-level='5'] {
  width: 62.5%;
}

.competence__level-progression-bar__level-bubble {
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 20px;
  text-align: center;

  font-family: $font-overpass;
  font-weight: bold;
  color: $pix-blue;
}

