.legal-notices-page{
  background-color: $alabaster-grey;
  display:flex;
  flex-direction:column;
}
.legal-notices-page__container {
  padding: 15px;
  @include device-is('desktop') {
    margin : 68px auto;
    padding: 40px 30px;
    width: 940px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  }
  & a {
    text-decoration: underline;
  }
  & h1 {
    color :$pix-blue;
    font : $font-raleway;
  }
  & hr {
    background-color:$gainsboro;
    box-sizing: border-box;
    height : 1px;
    margin: 30px auto ;
  }
  & h2 {
    color :$pix-blue;
    font : $font-raleway;
  }
  & h3 {
    font-weight: $font-bold;
    font-family: $font-lato;
    font-size:1em;
    text-transform: uppercase;
  }
  & p {
    font-family:  $font-lato;
    text-align: justify;
  }
}
.list-images{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding : 0px;
  @include device-is('desktop') {
    width:60%;
  }
  @include device-is('tablet') {
    width : 100%;
  }
  @include device-is('mobile') {
    width : 100%;
  }
}

.list-images__cell{
  padding: 10px 10px;
  box-sizing: border-box;

  @include device-is('desktop') {
    width : 30%;
    padding : 0 0;
    & img {
      display : block;
      width :40%;
      margin: 20px auto;
    }
  }
  @include device-is('tablet') {
    width : 50%;
    padding : 0 0;
    & img {
      display : block;
      width :100px;
      margin: 20px auto;
    }
  }

  @include device-is('mobile') {
    width : 50%;
    margin: auto;
    & img {
      display : block;
      width :100px;
      margin: 0 auto;
    }
  }
}

