.legal-notices-page{
  background-color: $alabaster-grey;
  display:flex;
  flex-direction:column;
}
.legal-notices-page__container {
  padding: 15px;

  @include device-is('desktop') {
    margin : 68px auto;
    padding: 40px 30px;
    width: 940px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  }
  & a {
    text-decoration: underline;
  }
  & h2 {
    color :$pix-blue;
    font : $font-raleway;
  }
  & h3 {
    font-weight: $font-bold;
    font-family: $font-lato;
    font-size:1em;
    text-transform: uppercase;
  }
  & p {
    font-family:  $font-lato;
    text-align: justify;
  }
}
.list-images{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.list-images__cell{
  padding: 10px 10px;
  box-sizing: border-box;
}

.legal-notices-page__title {
  color :$pix-blue;
  font : $font-raleway;
  margin-top: 0;
  margin-bottom: 30px;
}

.legal-notices-page__section {
  border-top: 1px solid $gainsboro;
  margin-bottom: 30px;
}
