.medal-item__medal-img {
  height: 169px;
  width: 150px;

  @media (min-width: 480px) {
    height: 190px;
    width: 200px;
  }

  @media (min-width: 768px) {
    height: 237px;
    width: 267px;
  }
}

.medal-item__pix-score {
  font-family: $font-overpass;
  font-weight: $font-bold;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  color: $blue;

  margin-top: -140px;
  font-size: 50px;

  @media (min-width: 480px) {
    margin-top: -160px;
    font-size: 60px;
  }

  @media (min-width: 768px) {
    margin-top: -205px;
    font-size: 80px;
  }

}

.medal-item__pix-text {
  font-family: $font-raleway;
  font-weight: $font-bold;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: $blue;


  margin-top: -20px;
  font-size: 35px;

  @media (min-width: 480px) {
    margin-top: -15px;
    font-size: 35px;
  }

  @media (min-width: 768px) {
    margin-top: -30px;
    font-size: 40px;
  }

}

.medal-item__bêta {
  color: $marigold;
  font-weight: $font-heavy;
  letter-spacing: 6px;
  margin-top: 10px;

  font-size: 12px;

  @media (min-width: 480px) {
    margin-top: 20px;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    margin-top: 40px;
    font-size: 18px;
  }
}

