.navbar-header {
  background-color: transparent;
  padding: 20px 0;
  float: none;
  color: $white;
  width: 100%;
}

.navbar-header--white {
  background-color: $white;
  color: $slate-grey;
}

.navbar-header__container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 26px;

  @include device-is('desktop') {
    justify-content: space-between;
    padding: 0 100px;
  }

  @include device-is('large-screen') {
    padding: 0;
  }
}

.navbar-header-right {

  @include device-is('desktop') {
    padding: 0;
    margin: 0;
  }
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-header-logo {
  display: inline-block;
  position: relative;
  width: 106px;
  height: 80px;
}

.navbar-header-logo__link {
  display: inline-block;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.navbar-header-logo__image {
  width: 106px;
}

.navbar-header-logo__beta {
  color: $marigold;
  font-family: $font-lato;
  font-size: 12px;
  letter-spacing: 10px;
  font-weight: $font-heavy;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 15px;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-header-links {
  display: block;

  @include device-is('desktop') {
    padding: 20px 0;
  }
}

.navbar-header-links--user-logged {
  padding: 0;
}

.navbar-header-links__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @include device-is('desktop') {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}

.navbar-header-links__item {
  display: block;
  border-bottom: 1px solid $alto-grey;
  padding: 20px 0 20px 48px;
  color: $tundora-grey;

  @include device-is('desktop') {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 20px;
    padding: 20px 0 20px 48px;
    border: none;
    padding: 0;
    color: $white;
    text-transform: uppercase;
  }
}

.navbar-header--white .navbar-header-links__item {
  color: $slate-grey;
}

.navbar-header--white .navbar-mobile-menu .side-menu-toggle {
  background: url("/images/icons/icon-black-burger.svg") no-repeat center;
}

.navbar-mobile-menu .side-menu-toggle {
  background: url("/images/icons/icon-white-burger.svg") no-repeat center;
}

.side-menu .navbar-header-links__item {
  color: $tundora-grey;
}

.navbar-header-links__item:first-child {
  font-family: $font-lato;
  font-size: 24px;
  line-height: 29px;
  background: $gainsboro;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-right: 23px;

  @include device-is('desktop') {
    background: transparent;
    padding: 0;
    font-size: 13px;
    justify-content: normal;
  }
}

.navbar-header-links__link {
  text-transform: uppercase;
  font-size: 16px;
  font-family: $font-lato;
  width: 100%;
  color: inherit;

  &.active,
  &:hover,
  &:focus,
  &:active {
    color: $marigold;
    text-decoration: none;
  }

  @include device-is('desktop') {
    font-size: 13px;
    padding-left: 0px;
  }
}

.navbar-header-links__link--inscription {
  border-radius: 20px;
  border: 2px solid $pix-blue;
  padding: 12px 30px;
  font-size: 13px;
  text-align: center;
  color: $white;
  background: $pix-blue;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: $white;
  }

  @include device-is('desktop') {
    border: 2px solid $white;
    width: 140px;
    padding: 10px;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: $pix-blue;
      text-decoration: none;
      background-color: $white;
    }
  }
}

.navbar-header--white .navbar-header-links__link--inscription {
  border: 2px solid $pix-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    color: $pix-blue;
    background-color: $white;
  }

  @include device-is('desktop') {
    color: $pix-blue;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $pix-blue;
    }
  }
}

.navbar-item-inscription-wrapper {
  margin-top: 90px;
  border: none;

  @include device-is('desktop') {
    margin-top: 0;
  }
}
