@import "../ember-modal-dialog/ember-modal-structure";
@import "../ember-modal-dialog/ember-modal-appearance";

/* Structure & layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal-wrapper {
  width: 100%;
  padding: 10px;
}

.pix-modal {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: $charcoal-grey;
  font-family: $font-lato;
}

.pix-modal__container {
  border-radius: 5px;
  background-color: $porcelain-grey;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;

  @include device-is('tablet') {
    width: 80%;
    font-size: 22px;
  }
}

.pix-modal section {
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text & content
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal h1 {
  background-color: $white;
  font-weight: $font-bold;
  color: $pix-blue;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 15px;

  @include device-is('tablet') {
    padding: 20px 0;
    font-size: 26px;
  }
}

.pix-modal p {
  margin-bottom: 15px;
}

.pix-modal ul,
.pix-modal ol {
  width: 100%;
  list-style: none;
  padding: 0 0 0 30px;
  margin: 0 0 15px;
}

.pix-modal li {
  margin-bottom: 5px;
}

  /* Form & input
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal input {
  padding: 15px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid $pix-blue;
  color: #6A6D76;
  letter-spacing: 2px;
  box-sizing: border-box;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal button {
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  color: $white;
  box-sizing: border-box;
  width: 126px;

  @include device-is('tablet') {

  }
}

.pix-modal__primary-button {
  background-color: $pix-blue;
}

.pix-modal__secondary-button {

}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pix-modal__close-link {
  color: $white;
  position: absolute;
  top: -30px;
  right: 0;
}
.pix-modal__close-link:hover,
.pix-modal__close-link:active,
.pix-modal__close-link:focus {
  color: $white;
}

.ember-modal-overlay.translucent {
  background-color: rgba(red($charcoal-grey), green($charcoal-grey), blue($charcoal-grey), 0.95);
}

