.scoring-panel{
  display: flex;
  flex-direction: row;
  width : 100%;
  background-image: linear-gradient(to bottom, #446eff, #001f8d), linear-gradient(#3d68ff, #3d68ff);
  justify-content: center;
  color: $white;
  font-family: $font-raleway;
}

/*-----------------------------------*/

.scoring-panel_trophy{
  display : flex;
  flex-direction: column;
  margin-right: 66px;
  position:relative;
}

.scoring-panel_congrats{
  display : flex;
  flex-direction: column;
  width: 386px;
}

/*-----------------------------------*/
 .scoring-panel_trophy-level {
   height: 33px;
   font-size: 26px;
   font-weight: $font-extra-bold;
   letter-spacing: 3px;
   text-align: center;
   text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
   position:absolute;
   top: 218px;
   left : 55px;

   font-family: Overpass;
   font-weight: $font-heavy;
   color: #3d68ff;
   color: $blue;
 }

 .scoring-panel_trophy-bêta {
   position:absolute;
 }

/*-----------------------------------*/

.scoring-panel_congrats-course-name{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: $font-semi-bold;
  line-height: 0.95;
}

.scoring-panel_congrats-line {
  margin-bottom: 10px;
  height: 1px;
  opacity: 0.5;
  background-color: $white;
}

.scoring-panel_congrats-felicitations {
  font-size: 65px;
  font-weight: $font-light;
}

.scoring-panel_congrats-scoring {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 1.07;
}

.scoring-panel_congrats-beta {
  font-size: 14px;
  font-weight: $font-medium;
}
