/* Wrapper */

.share-profile__share-button {
  flex-grow: 0;
  background: $pix-blue;
  text-transform: uppercase;
  padding: 12px 17px;
  color: $white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.share-profile__share-button-image {
  vertical-align: text-top;
  padding-left: 5px;
}

/* "Organization code entry" view */

.share-profile__statement {
  @include device-is('desktop') {
    width: 545px;
    height: 59px;
    text-align: center;
  }
}

.share-profile__modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;

  @include device-is('desktop') {
    width: 265px;
    max-width: 380px;
    padding: 30px 16px 16px;
  }
}

.share-profile__organization-code-input {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;

  @include device-is('desktop') {
    width: 265px;
  }
}

.share-profile__form-error {
  color: $pure-orange;
}

.share-profile__share-modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-sizing: border-box;

  @include device-is('desktop') {
    width: 265px;
  }
}

.share-profile__share-modal-button {
  flex-grow: 1;
}

/* "Sharing confirmation" view */

.share-profile__organization-name {
  font-weight: $font-bold;
  font-size: 20px;
  text-align: center;

  @include device-is('tablet') {
    font-size: 24px;
  }
}

ul.share-profile__informations-shared {
  display: inline-block;
  text-align: left;
  list-style: none;
}

.share-profile__informations-evolutions {
  font-size: 16px;
}


/* "Success notification" view */

