.app-menu-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 120px;
}

.app-menu{

}
.app-menu__item{

}
.app-menu__item a{
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--charcoal-grey);
  font-family: var(--font-lato);
}
