.comparison-window {
}

.comparison-window--content, .comparison-window--body {
  border-radius: 5px;
}

.comparison-window--body {
  background-color: var(--light-grey1);
  display: flex;
  flex-direction: column;
}

.comparison-window__instruction {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
/*  padding-top: 20px;
  padding-top: 20px;
*/
 font-size: 18px;
}
