.comparison-window {
}

.comparison-window--content, .comparison-window--body {
  border-radius: 5px;
}

.comparison-window--body {
  background-color: var(--light-grey1);
  display: flex;
  flex-direction: column;
}

.comparison-window__instruction {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.comparison-oracle[data-goodness='good'] {
  color: #13c9a0;
  font-weight: 900;
}

.comparison-oracle[data-goodness='bad'][data-checked='yes'] {
  text-decoration: line-through;
}
