.corner-ribbon {
  position: relative;
  width: 160px;
  height: 100px;
  overflow: hidden;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -35px;
  top: 30px;
          transform: rotate(45deg);
  /* shadow */
          box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
  min-width: 217px;
  cursor: none;
  pointer-events: none;
}
