<div id="challenge-preview" data-id="{{ model.challenge.id }}" class="challenge-preview">
    <div class="container">

      {{challenge-item model.challenge null model.previewedCourse}}

    </div>
</div>
