<div id="assessment-challenge">
    <div class="container">
      {{progress-bar currentChallenge=currentChallenge}}
      {{challenge-item model.challenge model.assessment onValidated=(action saveAnswerAndNavigate)}}
    </div>
</div>
