/* Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$challenges-background-color: #fafafa;
$challenges-title-color: #3d68ff;


/* Sections:

 - General
 - Hero
 - Challenges
 - Betatest
 - Features
 - Partners
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page {

}

.index-page__background {
  position: absolute;
  background: url("/images/index-hero-background.jpg");
  background-size: cover;
  height: 700px;
  width: 100%;
  z-index: -1;
}

.index-page__section {
  padding: 80px 0;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-page__section--hero {
  padding: 0;
}

.index-page-hero {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.50) 5%,rgba(30,30,30,0.25) 100%);
  height: 700px;
  width: 100%;
}

.index-page-hero__content {
  margin: 0 auto;
  max-width: 1200px;
}

.index-page-hero__title {
  margin-top: 270px;
  height: 70px;
  font-size: 50px;
  line-height: 1.4;
  font-family: $font-raleway;
  font-weight: 700;
  color: $white;
  text-align: center;
}

.index-page-hero__description {
  font-family: $font-raleway;
  color: $white;
  text-align: center;
  font-size: 22px;
  padding: 0 200px;
  font-weight: 300;
}


/* Challenges
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.index-page__section--challenges {
  padding-bottom: 75px; // take into account course-item margin-bottom (5px)
}


.index-page-challenges {
  background-color: $challenges-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-page-challenges__title {
  width: 600px;
  font-size: 32px;
  font-weight: 900;
  color: $challenges-title-color;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

.index-page-challenges__list {
  padding-top: 20px;
  max-width: 1200px;
}

/* Email
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-page-email {
  height: 260px;
  background-color: $pix-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 992px) {
    height: 350px;
  }
}

.index-page-email__title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;

  @media (min-width: 992px) {
    font-size: 36px;
    margin-left: 0;
    margin-right: 0;
  }
}

.index-page-email__details {
  font-family: $font-lato;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 36px;

  @media (min-width: 992px) {
    font-size: 32px;
    max-width: 872.8px;
    height: 78px;
  }
}

/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-page-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 50px;

  @media (min-width: 992px) {
    padding-top: 75px;
    flex-direction: row;
  }
}

.index-page-feature {
  height: 260px;
  width: 200px;

  @media (min-width: 992px) {
    height: 294px;
    margin-left: 35px;
  }
}

.index-page-feature:first-child {

  @media (min-width: 992px) {
    margin-left: 0;
  }
}

.index-page-feature__icon-container {
  display: flex;
  justify-content: center;
  height: 107px;
}

.index-page-feature__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  margin-top: 20px;
  color: #3e4149;

  @media (min-width: 992px) {
    margin-left: 0;
  }
}

.index-page-feature__text {
  font-size: 15px;
  margin-top: 12px;
  color: #3e4149;
  text-align: center;
}

.index-page-about {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background: #ffffff;
}

.index-page-about a {
  display: block;
  width: 201px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
  border: none;
  background-color: $marigold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $charcoal-grey;
  font-family: $font-lato;
  text-decoration: none;
  cursor: pointer;
}
