
/**
 *
 * Trick label & SVG to replace built-in checkboxes & radiobuttons.
 *
 **/
.picture-checkbox-proposal {
  position: absolute;
  left: -.5em;
  top: .1em;
}
.label-checkbox-proposal {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
  cursor: pointer;
}



/**
 *
 * Configure Checkboxes of proposals
 *
 **/
.input-checkbox-proposal {
  opacity: 0;
}

/*XXX Can't use BEM properly here because of CSS state manipulation*/
.input-checkbox-proposal:checked ~ label svg.checkbox-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:not(:checked) ~ label svg.checkbox-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:checked ~ label svg.checkbox-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.input-checkbox-proposal:not(:checked) ~ label svg.checkbox-on {
  opacity: 0;
  transition: opacity .2s linear;
}


/**
 *
 * Configure Radios of proposals
 *
 **/
.blabla input[type="radio"] {
  opacity: 0;
}

.blabla input[type="radio"]:checked ~ label svg.radio-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.blabla input[type="radio"]:not(:checked) ~ label svg.radio-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.blabla input[type="radio"]:checked ~ label svg.radio-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.blabla input[type="radio"]:not(:checked) ~ label svg.radio-on {
  opacity: 0;
  transition: opacity .2s linear;
}

/**
 *
 * Configure Radios that are NOT in proposals
 *
 **/
.blibli svg {
  position: absolute;
  left: -.5em;
  top: .1em;
  /*border: 2px solid #fff;*/
}

.blibli label {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
  cursor: pointer;
}

.blibli input[type="radio"] {
  opacity: 0;
}

.blibli input[type="radio"]:checked ~ label svg.radio2-off {
  opacity: 0;
  transition: opacity .2s linear;
}
.blibli input[type="radio"]:not(:checked) ~ label svg.radio2-off {
  opacity: 1;
  transition: opacity .2s linear;
}
.blibli input[type="radio"]:checked ~ label svg.radio2-on {
  opacity: 1;
  transition: opacity .2s linear;
}
.blibli input[type="radio"]:not(:checked) ~ label svg.radio2-on {
  opacity: 0;
  transition: opacity .2s linear;
}


/**
 *
 * Configure Checkboxes that MUST be disabled
 *
 **/
.blublu svg {
  position: absolute;
  left: -.5em;
  top: .1em;
}
.blublu label {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
}

.blublu input[type="checkbox"] {
  opacity: 0;
}

.blublu input[type="checkbox"]:checked ~ label svg.checkbox-disabled-on {
  opacity: 0;
}

.blublu input[type="checkbox"]:not(:checked) ~ label svg.checkbox-disabled-off {
  opacity: 1;
}

.blublu input[type="checkbox"]:checked ~ label svg.checkbox-disabled-on {
  opacity: 1;
}

.blublu input[type="checkbox"]:not(:checked) ~ label svg.checkbox-disabled-on {
  opacity: 0;
}
