
label {
  font-weight: normal;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* on prépare le label */
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0;
  top: 4px;
  width: 17px;
  height: 17px; /* dim. de la case */
  transition: all .2s;
  border-radius: 3px; /* angles arrondis */
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3);*/ /* légère ombre interne */
}
input[type="checkbox"]:not(:checked) + label:before {
  border: 2px solid #aaa;
}
input[type="checkbox"]:checked + label:before {
  background: #3D68FF;
}

/* Aspect général de la coche */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 14px;
  color: white;
  transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
  /*background: white;*/
}

/* Aspect si "cochée" */
input[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
  /*background: blue;*/
}


/* aspect désactivée */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* styles de la coche (si cochée/désactivée) */
input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

/* on style aussi le label quand désactivé */
input[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* aspect au focus de l'élément */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  /*border: 1px dotted blue;*/
}
