.blabla svg {
  width: 1em;
  height: 1em;
  position: absolute;
  left: -.5em;
  top: .1em;
  border: 2px solid #fff;
}
.blabla label {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
  cursor: pointer;

}
.blabla input[type="checkbox"] {
  opacity: 0;
  width: 40px;
  height: 40px;
}

.blabla input[type="checkbox"]:checked ~ label svg.checkboxoff {
  opacity: 0;
  transition: opacity .2s linear;
}
.blabla input[type="checkbox"]:not(:checked) ~ label svg.checkboxoff {
  opacity: 1;
  transition: opacity .2s linear;
}
.blabla input[type="checkbox"]:checked ~ label svg.checkboxon {
  opacity: 1;
  transition: opacity .2s linear;
}
.blabla input[type="checkbox"]:not(:checked) ~ label svg.checkboxon {
  opacity: 0;
  transition: opacity .2s linear;
}
