<div class="board-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="board-page__header"></div>
  <div class="board-page__body"></div>

  {{app-footer}}


</div>

{{model.id}}
<br>
{{model.name}}
<br>
salut
