{{navbar-header class="navbar-header--white"}}

<div class="certification-error-page__ribbon blue-ribbon"/>

<div class="certification-error-page__panel rounded-panel">
  <h2 class="certification-error-page__title">
    Lancement du test.
  </h2>

  {{ certification-code-validation onSubmit=(route-action 'submit')}}

</div>

{{app-footer}}