<div id="index">
    <div class="cover">
    </div>
    <div class="container">
        <div class="row presentation">
            <div class="col-md-12">
                <h1>Et vous, combien de PIX avez-vous ?</h1>
                <h2 class="sales-pitch">
                    PIX est un projet public de plateforme en ligne d'évaluation et de certification des compétences
                    numériques, en cours de développement.  Rejoignez la communauté des premiers testeurs pour nous
                    aider à le construire !
                </h2>
            </div>
        </div>

        <div class="row identification-form">
            <div class="col-md-12">

                <div id="accordion" class="panel-group">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a  data-parent="#accordion" href="#collapseOne" data-toggle="collapse">Enregistrez-vous</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{registration-form onUserIdentified="navigateToHome"}}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" data-toggle="collapse" data-target="#collapseTwo">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a  data-parent="#accordion" href="#collapseTwo">Connectez-vous</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{login-form onUserIdentified="navigateToHome"}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

