{{navbar-header class="navbar-header--white"}}
<div class="legal-notices-page">
  <div class="legal-notices-page__container">
    <h1 class="legal-notices-page__title">
      Mentions légales
    </h1>
    <section class="legal-notices-page__section legal-notices-page__section--editor">
      <h2>Éditeur</h2>
      <div>
        <p>Groupement d’intérêt public “Pix” <br>
        110 rue de Grenelle <br>
        75007 Paris<br>
        tél. : 01 43 40 00 18<br>
        </p>
        <p>Directeur de la publication : M. Benjamin MARTEAU, Directeur</p>
      </div>
    </section>
    <section class="legal-notices-page__section legal-notices-page__section--members">
      <h3>Membres du groupement d'intérêt public pix :</h3>
      <ul class="list-images">
        <li class="list-images__cell">
          <a href="http://www.education.gouv.fr/"><img src="/images/legal-notices/logo-MEN.jpg" alt="logo ministère de l'éducation nationale"></a>
        </li>
        <li class="list-images__cell">
          <a href="http://www.enseignementsup-recherche.gouv.fr/"><img src="/images/legal-notices/logo-MESRI.jpg" alt="logo ministère de l'enseignement supérieur, de la recherche et de l'innovation"></a>
        </li>
        <li class="list-images__cell">
          <a href="http://uoh.fr/front"> <img src="/images/legal-notices/logo-UOH.jpg" alt="logo université ouverte humaines"></a>
        </li>
        <li class="list-images__cell">
          <a href="http://www.cned.fr/"> <img src="/images/legal-notices/logo-CNED.jpg" alt="logo CNED"></a>
        </li>
        <li class="list-images__cell">
          <a href="http://unistra.fr/"><img src="/images/legal-notices/logo-Univ-strasbourg.jpg" alt="logo université strasbourg"></a>
        </li>
      </ul>
      <a href="https://www.legifrance.gouv.fr/eli/arrete/2017/4/27/MENF1711150A/jo">Arrêté du 27 avril 2017 portant approbation de la convention constitutive du groupement d'intérêt public « PIX »</a>
    </section>
    <section class="legal-notices-page__section legal-notices-page__section--personal-data">
      <h2>Protection des données personnelles</h2>
      <p>
        <p>Correspondante « informatiques et libertés » : Mme Nathalie DENOS</p>
        <p>Conformément à la loi « informatiques et libertés » du 6 janvier 1978, vous bénéficiez d’un droit d’accès, de rectification et d’opposition sur les données à caractère personnel vous concernant. Vous pouvez exercer ces droits, et/ou formuler toute demande d'information relative à vos données personnelles, en contactant notre Correspondant « informatiques et libertés » :</p>
        - par voie électronique, en adressant votre demande accompagnée de la copie d'un titre d'identité, à <a href="mailto:cil.pix@beta.gouv.fr" target="_top">cil.pix@beta.gouv.fr</a><br>
        - par courrier, accompagné de la copie d'un titre d'identité, à l'adresse suivante : PIX - 193 rue de Bercy - tour Gamma A - 75012 Paris<br>
      </p>
    </section>
    <section class="legal-notices-page__section legal-notices-page__section--hosting">
      <h2>Hébergements</h2>
      <p>
        OVH<br>
        2 rue Kellermann<br>
        59100 Roubaix<br>
        France
      </p>
    </section>
    <section class="legal-notices-page__section legal-notices-page__section--credits">
      <h2>Crédits</h2>
      <p>UX/UI Design : <a href="http://reloaded.digital/">Reloaded</a></p>
    </section>

  </div>
</div>
{{app-footer}}