<div class="password-reset-page">

  <div class="password-reset-page__inscription">
    <p class="password-reset-page__inscription-text" title="">Vous n'avez pas encore de compte Pix ?</p>
    <a class="password-reset-page__inscription-button" href="/inscription">S'inscrire <span class="sr-only"> sur Pix</span> </a>
  </div>

  <div class="password-reset-page__password-reset-form">
    {{password-reset-form}}
  </div>
</div>
