<div class="referential-page">

  {{navbar-header class="navbar-header--white"}}

  <section class="referential-page__panel referential-page__header">
    <h1 class="referential-page__header-text">Retrouver les 5 domaines de compétences que pix souhaite évaluer, en accord avec le référentiel européen DIGCOMP.</h1>
  </section>

  <section class="rounded-panel referential-domain referential-domain--information">
    <header class="referential-domain__header">
      <h2 class="referential-domain__title">Informations et données</h2>
    </header>
    <div class="referential-domain__topics">
      <!-- 1 -->
      <div class="domain-topic">
        <h3 class="domain-topic__title">Mener une recherche et une veille d’information</h3>
        <p class="domain-topic__description">Mener une recherche et une veille d’information pour répondre à un besoin d’information et se tenir au courant de l’actualité d’u sujet (avec un moteur de recherche, au sein d’un réseau social, par abonnement à des flux ou des lettres d’information, ou tout autre moyen.)</p>
        <div class="domain-topic__themes">
          <h4 class="domain-topic__themes-title">Thématiques associées</h4>
          <p class="domain-topic__themes-content">Web et navigation ; Moteur de recherche et requête ; Veille d’information, flux encuration ; Evaluation de l’information ; Source et citation ; Gouvernance d’internet et ouverture du web ; Abondance de l’information, filtrage et personnalisation ; Recul critique face à l’information et aux médias ; Droit d’auteur.</p>
        </div>
      </div>
      <!-- 2 -->
      <div class="domain-topic">
        <h3 class="domain-topic__title">Gérer des données</h3>
        <p class="domain-topic__description">Stocker et organiser des données pour les retrouver, les conserver et en faciliter l’accès et la gestion (avec un gestionnaire de fichiers, un espace de stockage en ligne, des tags, des classeurs, des bases de données, un système d’information, etc.).</p>
        <div class="domain-topic__themes">
          <h4 class="domain-topic__themes-title">Thématiques associées</h4>
          <p class="domain-topic__themes-content">Dossier et fichier ; Stockage et compression ; Transfert et synchronisation ; Recherche et méta-données ; Indexation sémantique et libellé (tag) ; Structuration des données ; Système d’information ; Localisation des données et droit applicable ; Modèles et stratégies économiques ; Sécurité du système d’information.</p>
        </div>
      </div>
      <!-- 3 -->
      <div class="domain-topic">
        <h3 class="domain-topic__title">Traiter des données</h3>
        <p class="domain-topic__description">Appliquer des traitements à des données pour les analyser et les interpréter (avec un tableur, un programme, un logiciel de traitement d’enquête, une requête calcul dans une base de données, etc.).</p>
        <div class="domain-topic__themes">
          <h4 class="domain-topic__themes-title">Thématiques associées</h4>
          <p class="domain-topic__themes-content">Dossier et fichier ; Stockage et compression ; Transfert et synchronisation ; Recherche et méta-données ; Indexation sémantique et libellé (tag) ; Structuration des données ; Système d’information ; Localisation des données et droit applicable ; Modèles et stratégies économiques ; Sécurité du système d’information.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="rounded-panel referential-domain referential-domain--environment">
    <header class="referential-domain__header">
      <h2 class="referential-domain__title">Environnement numérique</h2>
    </header>
  </section>

  <section class="rounded-panel referential-page__panel referential-page__panel--communication section-communication">
  </section>

  <section class="rounded-panel referential-page__panel referential-page__panel--content section-content">
  </section>

  <section class="rounded-panel referential-page__panel referential-page__panel--protection section-protection">
  </section>

</div>

{{app-footer}}
